<!-- core/templates/error.html -->

{% extends 'base.html' %}

{% block title %}
    Error - CleverQuery
{% endblock %}

{% block content %}
{% if code == "no_pdf_found" %}

<div id="toast-simple" class="fixed top-0 mt-2 flex w-full max-w-xs p-3 space-x-2 rtl:space-x-reverse text-blue-700 bg-blue-300 divide-x rtl:divide-x-reverse divide-gray-200 rounded-xl shadow-sm" style="left: calc(50% - 32px);">
    <div class="w-full text-center text-sm font-normal">
            <input type="text" id="session-title-input" class="bg-blue-300 border-0 text-blue-700 text-center w-full focus:outline-none" value="{{ session.title }}" onkeydown="if(event.key === 'Enter') { updateSessionTitle(); }">
        </div>
        <div class="pl-4">
            <img onclick="deleteSession()" src="/static/delete.png" class="w-7 h-5 text-blue-600 dark:text-blue-500 cursor-pointer" alt="Delete">
        </div>
    </div>

    <script>
        function updateSessionTitle() {
            const newTitle = document.getElementById('session-title-input').value;
            fetch("{% url 'update_session_title' session.id %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ title: newTitle })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    location.reload();
                } else {
                    alert('Failed to update the session title.');
                }
            });
        }
        function deleteSession() {
            {
                if (confirm('Do you want to delete this session?')) {
                    fetch("{% url 'delete_session' session.id %}", {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if (data.success) {
                            window.location.href = "{% url 'home' %}";
                        } else {
                            alert(data.error);
                        }
                    });
                }
            }
            fetch("{% url 'delete_session' session.id %}", {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.success) {
                    window.location.href = "{% url 'home' %}";
                } else {
                    alert(data.error);
                }
            });
        }
    </script>
{% endif %}
    <div class="error-container">
        <section class="flex items-center h-screen p-16">
            <div class="container flex flex-col items-center ">
                <div class="flex flex-col gap-6 max-w-md text-center">
                    <h2 class="font-extrabold text-9xl text-black">
                        <span class="sr-only">Error</span>404
                    </h2>
                    <p class="text-2xl md:text-3xl text-gray-600">{{ message }}</p>
                    {% if code == "no_pdf_found" %}
                    <a href="/session/{{ session.id }}/upload/" class="px-8 py-4 text-xl font-semibold rounded bg-blue-600 text-gray-50 hover:text-gray-200">Upload PDF</a>
                    {% endif %}
                    <a href="/" class="px-8 py-4 text-xl font-semibold rounded bg-gray-600 text-gray-50 hover:text-gray-200">Back to home</a>
                </div>
            </div>
        </section> 
    </div>
{% endblock %}