<!-- core/templates/login.html -->

{% extends 'base.html' %}

{% block title %}
    Login - CleverQuery
{% endblock %}

{% block content %}

<div class="flex h-screen">
    <div class="w-full max-w-xs m-auto bg-indigo-100 rounded p-5">   
          <header>
            <img class="p-12" src="/static/logo.png" alt="CleverQuery"/>
        </header>   
          <form method="post">
            {% csrf_token %}
            <div>
              <label class="block mb-2 text-indigo-500" for="username">Username</label>
              <input class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300" type="text" name="username">
            </div>
            <div>
              <label class="block mb-2 text-indigo-500" for="password">Password</label>
              <input class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300" type="password" name="password">
            </div>
            {% if form.errors %}
                <div class="mb-4 text-xs text-red-500">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{field.label}} : {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div>          
              <input class="w-full bg-indigo-700 hover:bg-pink-700 text-white font-bold py-2 px-4 mb-6 rounded" type="submit">
            </div>       
          </form>  
          <footer>
            {% comment %} <a class="text-indigo-700 hover:text-pink-700 text-sm float-left" href="#">Forgot Password?</a> {% endcomment %}
            <a class="text-indigo-700 hover:text-pink-700 text-sm float-right" href="{% url 'register' %}">Create new account</a>
          </footer>   
        </div>
    </div>
{% endblock %}